//
// cart
//

.cart {
  &__row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1220px;
    margin: 0 auto;
    flex-direction: column;

    @media (min-width: 700px) {
      flex-direction: row;
    }
  }

  &__col {
    padding: 10px;
  }

  &__col1 {
    padding: 10px;

    @media (min-width: 700px) {
      width: 33.33333333%;
    }
  }

  &__col2 {
    padding: 10px;

    @media (min-width: 700px) {
      width: 66.66666667%;
    }
  }

  &__infos {
    display: flex;
    max-width: 1220px;
    margin: 0 auto;
    flex-direction: column;

    @media (min-width: 700px) {
      flex-direction: row;
    }
  }

  &__info {
    flex-direction: column;
    margin-top: 10px;

    @media (max-width: 1000px) {
      margin: 0 auto;
    }
  }

  &__img {
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__text {
    display: flex;
    height: 50%;
  }

  &__price {
    display: flex;
    margin: 20px 0;
  }

  &__button {
    display: flex;
    flex-flow: row wrap;
    margin-top: 21px;
    margin-left: 10px;

    button {
      display: flex;
      flex-flow: row nowrap;
      width: 120px;
      height: 30px;
      background: none;
      border: 1px solid $black_color;
      border-radius: 3px;
      
      span {
        display: flex;
        height: 100%;
        width: 20%;
        background: url(./img/cart.svg) no-repeat;
        margin-left: 10px;
      }
    }

    button:hover {
      background-color: $button_color;
      transition: background-color 300ms ease, color 300ms ease;
    }
  }

  &__sala {
    display: flex;
    flex-flow: row wrap;

    label {
      display: flex;
      flex-flow: column;
    }

    input {
      width: 80px;
      min-height: 30px;
    }
  }

  &__fields {
    display: flex;
    flex-flow: column;
    width: 405px;
    justify-content: flex-end;

    label {
      display: flex;
      flex-wrap: nowrap;

      input {
        width: 240px;
        height: 30px;
        border: 1px solid;
        border-radius: 3px;
      }
    }
  }

  &__field {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 10px 0;

    span {
      width: 147px;
    }

    select {
      height: 30px;
      border-radius: 5px;
      width: 240px
    }
  }

  &__valid {
    display: flex;
    flex-flow: column;
    width: 410px;
    justify-content: flex-end;

    label {
      display: flex;
      flex-wrap: nowrap;
    }

    span {
      width: 150px;
    }
  }

  &__date {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 60%;

    select {
      height: 30px;
      border-radius: 3px;
      margin-left: 30px;
      margin-right: 10px;
    }
  }

  &__buy {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

    button {
      font-size: 1em;
      height: 40px;
      border: none;
      border-radius: 5px;
      width: 250px;
      cursor: pointer;
      background-color: $button_color;
      transition: background-color 300ms ease, color 300ms ease;
    }

    button:hover {
      /* stylelint-disable-line */
      background-color: $black_color;
      color: $button_color;
      border: transparent;
      border-radius: 5px;
      transition: background-color 300ms ease, color 300ms ease;
    }
  }
}

.offset {
  @media(min-width: 1000px) {
    margin-left: 17.5%;
    margin-right: 0;
  }
}

