// TODO stillingar hér

// #000000, #ffffff, #afb281, #cee8ff, #fcffd2 og #cc9694.

$white_color: #111111;
$black_color: #000000;

$header_color: #afb281;
$lightBlue_color: #cee8ff;
$footerList_color: #fcffd2;
$footer_color: #cc9694;
$button_color: #cc9694;
