//
// Footer
//

footer {
  display: flex;
  background-color: $footer_color;
}

.footer__row {
  display: flex;
  width: 100%;
  margin: 20px auto;
  flex-direction: column;
}

.footer__col {
  display: flex;
  padding-left: 10px;
}

@media (min-width: 500px) {
  .footer__row {
    flex-flow: row wrap;
  }

  .footer__col {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .footer {
    display: flex;
    width: 100%;
  }

  .footer__row {
    max-width: 1220px;
  }

  .footer__col {
    width: 25%;
  }

}

@media (min-width: 1490px) {
  .footer__row {
    padding-right: 0;
    padding-left: 0;
  }

}

.footer__content {
  flex-direction: column;
}

.footer__list {
  margin-top: 10px;
  color: $footerList_color;
}

.footer__tags {
  display: flex;
  list-style: none;
  flex-direction: column;
}

.footer__tag {
  margin-top: 10px;
}

.footer__tag a {
  color: $footerList_color;
  text-decoration: none;
}
