//
// Footer
//

footer { /* stylelint-disable-line */
  display: flex;
  flex-direction: column;
  background-color: $footer_color;
}

.footer {
  &__row {
    display: flex;
    width: 100%;
    margin: 20px auto;
    flex-direction: column;

    @media (min-width: 500px) {
      flex-flow: row wrap;
    }

    @media (min-width: 1000px) {
      max-width: 1220px;
    }
  }

  &__col {
    display: flex;
    padding-left: 10px;

    @media (min-width: 500px) {
      width: 50%;
    }

    @media (min-width: 1000px) {
      width: 25%;
    }
  }

  &__content {
    flex-direction: column;
  }

  &__list {
    margin-top: 10px;
  }

  &__tags {
    display: flex;
    list-style: none;
    flex-direction: column;
  }

  &__tag {
    margin-top: 10px;

    a { /* stylelint-disable-line */
      color: $footerList_color;
      text-decoration: none;
    }

    a:hover { /* stylelint-disable-line */
      color: $hover_color;
      transition: color 300ms ease;
    }
  }

  &__copy {
    margin: 0 auto;
  }
}
