//
// Header
//

header {
  display: flex;
  flex-direction: column;
  background-color: #afb281;
}

.head__menu {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.head__tags {
  display: flex;
  list-style: none;
  margin-top: 10px;
}

.head__tag {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 20px;
}

.head__tag a {
  color: #000000;
  text-decoration: none;
}

.head__tags a:hover {
color: #cee8ff;
transition: color 300ms ease;
width:100%;
}

.head__chart {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.head__chart a {
  color: #000000;
  font-size: 1em;
  text-decoration: none;
}

.head__chart img {
  max-width: 20px;
  margin-right: 5px;
}

.head__chart a span {
  margin-left: 2px;
}

.underline {
  text-decoration: underline;
}

@media (min-width: 500px) {
  nav {
    padding-left: 100px;
  }
}