@import "./scss/config.scss";

//
// Header
//

header { /* stylelint-disable-line */
  display: flex;
  flex-direction: column;
  background-color: $header_color;
}

.head {
  &__menu {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }

  &__tags {
    display: flex;
    margin-top: 10px;
    list-style: none;

    a:hover { /* stylelint-disable-line */
      width: 100%;
      color: $hover_color;
      transition: color 300ms ease;
    }
  }

  &__tag {
    margin-right: 20px;
    font-weight: bold;
    text-transform: uppercase;

    a { /* stylelint-disable-line */
      color: $black_color;
      text-decoration: none;
    }
  }

  &__chart {
    display: flex;
    justify-content: end;
    margin-top: 10px;

    a { /* stylelint-disable-line */
      font-size: 1em;
      color: $black_color;
      text-decoration: none;
    }

    span:hover { /* stylelint-disable-line */
      width: 100%;
      color: $hover_color;
      transition: color 300ms ease-in-out;
    }

    img { /* stylelint-disable-line */
      max-width: 20px;
      margin-right: 5px;
    }

    a span { /* stylelint-disable-line */
      margin-left: 2px;
    }
  }
}

.underline {
  text-decoration: underline;
}
