@import "./scss/config.scss";

//
// Home page
//

.home {
  &__row {
    display: flex;
    max-width: 1220px;
    margin: 10px auto;
    flex-direction: column;

    @media (min-width: 700px) {
      flex-direction: row;
    }
  }

  &__col {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    margin: 10px;

    @media (min-width: 700px) {
      width: 50%;
    }
  }

  &__text {
    margin: 20px 0;
    font-size: 1.2em;
  }

  &__button {
    margin: 20px 0;

    button { /* stylelint-disable-line */
      width: 250px;
      height: 40px;
      background-color: $button_color;
      border: transparent;
      border-radius: 5px;
    }
    button:hover { /* stylelint-disable-line */
      background-color: $black_color;
      color: $button_color;
      border: transparent;
      border-radius: 5px;
      transition: background-color 300ms ease, color 300ms ease;
    }
  }
}

.reverse {
  flex-flow: column;

  @media (min-width: 700px) {
    flex-flow: row-reverse;
  }
}