//
// Home page
//

.home__row {
  display: flex;
  flex-direction: column;
  max-width: 1220px;
  margin: 10px auto;
}

.home__col {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  margin: 10px;
}

.reverse {
  flex-flow: column;
}

@media (min-width: 700px) {

  .home__row {
    flex-direction: row;
  }

  .home__col {
    width: 50%;
  }

  .reverse {
    flex-flow: row-reverse;
  }

}


.home__text {
  font-size: 1.2em;
  margin: 20px 0;
}

.home__button {
  margin: 20px 0;

  button {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: $button_color;
  }
}
