@import "./scss/config.scss";

.products__row {
  display: flex;
  flex-flow: row wrap;
  max-width: 1220px;
  margin: 10px;
}

.prod__col {
  width: 100%;
  padding: 10px;

  @media (min-width: 550px) {
    width: 50%;
  }

  @media (min-width: 1000px) {
    width: 33.3333%;
  }
  
}