.prod {
  &__row {
    display: flex;
    flex-flow: row wrap;
    max-width: 1220px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
  }

  &__col {
    width: 100%;
    padding: 10px;

    @media (min-width: 600px) {
      width: 50%;
    }

    @media (min-width: 1000px) {
      width: 33.3333%;
    }
  }

  &__text {
    min-height: 90px;
  }

  &__button {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: 21px;
    margin-left: 20px;

    button {
      display: flex;
      flex-flow: row nowrap;
      width: 120px;
      height: 30px;
      background: none;
      border: 1px solid $black_color;
      border-radius: 3px;

      span {
        display: flex;
        height: 100%;
        width: 20%;
        background: url(./img/cart.svg) no-repeat;
        margin-left: 10px;
      }
    }

    button:hover {
      background-color: $button_color;
      transition: background-color 300ms ease, color 300ms ease;
    }
  }

  &__meta {
    display: flex;
    flex-flow: row nowrap;

    label {
      display: flex;
      flex-flow: column;
    }

    input {
      width: 205px;
      height: 30px;
    }
  }
}
