@import "./scss/config.scss";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;

  // TODO fleiri grunn stillingar
}

main {
  margin: 0 auto;
}

h1 {
  font-family: Oswald, Verdana, serif;
  font-size: 2.5em;
  letter-spacing: -2px;
  transform: scaleY(1.5);
  margin: 20px auto;
}

h2 {
  font-family: Oswald, Verdana, serif;
  font-size: 1.5em;
  letter-spacing: -1px;
  transform: scaleY(1.5);
  margin: 20px 0;
}

h3 {
  font-family: Oswald, Verdana, serif;
  margin-top: 35px;
}

img {
  width: 100%;
  height: 100%;
}

nav {
  align-content: center;
  margin: 0 auto;
}


// TODO sækja allar sass skrár
@import "./scss/header.scss";
@import "./scss/footer.scss";
@import "./scss/home.scss";
@import "./scss/cart.scss";


//
// products
//

.products__row {
  display: flex;
  flex-flow: row wrap;
  max-width: 1220px;
  margin: 0 auto;
}

.prod__col {
  width: 406.6667px;
  padding: 10px;
}

//
// staff
// 

.staff__row {
  display: flex;
  flex-flow: row wrap;
  max-width: 1220px;
  margin: 0 auto;
}

.staff__col {
  padding: 15px;
}

@media (min-width: 500px) {

  .staff__col {
    width: 50%;
  }
}

