@import "./scss/config.scss";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
  word-break: break-word;

  // TODO fleiri grunn stillingar
}

// Litapalletta fyrir vef er #000000, #ffffff, #afb281, #cee8ff, #fcffd2 og #cc9694.

main {
  margin: 0 auto;
}

h1 {
  font-family: Oswald, Verdana, serif;
  font-size: 2.5em;
  letter-spacing: -2px;
  transform: scaleY(1.5);
  margin: 20px auto;
}

h2 {
  font-family: Oswald, Verdana, serif;
  font-size: 1.5em;
  letter-spacing: -1px;
  transform: scaleY(1.5);
  margin: 20px 0;
}

h3 {
  font-family: Oswald, Verdana, serif;
  font-stretch: extra-condensed;
  margin-top: 35px;
}

img {
  width: 100%;
  height: 100%;
}

nav {
  align-content: center;
  margin: 0 auto;
  padding-left: 100px;
}

//
// Header
//

header {
  display: flex;
  flex-direction: column;
  background-color: #afb281;
}

.head__menu {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.head__tags {
  margin-top: 10px;

  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.head__tag {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 20px;
}

.head__tag a {
  color: #000;
  text-decoration: none;
}

.head__chart {
  display: flex;
  margin-top: 10px;
  justify-content: end;
}

.head__chart a {
  color: #000;
  font-size: 1em;
  text-decoration: none;
}

.head__chart img {
  max-width: 20px;
  margin-right: 5px;
}

.head__chart a span {
  margin-left: 2px;
}

.underline {
  text-decoration: underline;
}

//
// Footer
//

footer {
  display: flex;
  max-width: 1200px;
  background-color: #cc9694;
  align-content: center;
  margin: 0 auto;
}

.footer__row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: -10px;
  margin-right: -10px;
}

.footer__col {
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 500px) {

  .footer__row {
    flex-flow: row wrap;
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer__col {
    width: 50%;
  }
}


@media (min-width: 1000px) {

  .footer__col {
    width: 25%;
  }

}

@media (min-width: 1490px) {

  .footer__row {
    padding-right: 0;
    padding-left: 0;
  }

}



.footer__content {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.footer__list {
  color: #fcffd2;
  margin-top: 10px;
}

// #afb281, #cee8ff, #fcffd2 og #cc9694.

.footer__tags {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer__tag {
  margin-top: 10px;
}

// TODO sækja allar sass skrár
// @import "./scss/*.scss";


//
// Home page
//

.home {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
}

.home__content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 50%;
}

.home__text {
  font-size: 1.2em;
}

.home__button {
  margin: 20px 0;
}

.home__button button {
  width: 250px;
  height: 40px;
  background-color: #cc9694;
  border: none;
  border-radius: 5px;
}

.home__img {
  display: flex;
  width: 50%;
  margin: 20px 0;
}

.reverse {
  flex-flow: row-reverse;
}


//
// products
//

.products {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.prod__content {
  max-width: 300px;
  flex-direction: column;
  margin: 10px;
}


//
// staff
// 
.staff {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.staff__content {
  max-width: 300px;
  margin: 10px;
}

// 
// cart
// 
.cart {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.cart__content {
  flex-flow: row wrap;
  margin: 10px;
}

.cart__img {
  display: flex;
  width: 33.333%;
}

.cart__description {
  display: flex;
  width: 50%;
}

.cart__text {
  display: flex;
}

.cart__price {
  display: flex;
}
